@import ../index

.d-none
    display: none

    
.nav-bar
    @include dFlex
    justify-content: space-between
    padding-left: 166px
    padding-right: 100px
    background: #FEF9FF 
    .logo
        @include dFlex
        .nns-mobile
            display: none
        .brand-name
            margin-left: 10px
            font-family: $primary-font
            font-size: 23.9px
            font-style: normal
            font-weight: 700
            line-height: 29.885px
    .slider
        width: 30%
        height: 40px
        filter: drop-shadow(0px 20px 40px rgba(114, 89, 185, 0.10))
        background-color: #fff
        border-radius: 50px
        button
            border: 0
            border-radius: 50px
            background-color: #fff
            color: #000
            width: 50%
            height: 100%
        .blue-btn
            background-color: $button-color
            color: #fff
    .buttons
        .sign-in-btn
            background-color: $button-color
            color: #fff
            width: 120px
            height: 40px
            padding: 10px 30px
            font-family: $button-font
            font-size: 14px
            border: 0px
            border-radius: 5px
        .username
            border-radius: 19px 5px 5px 19px
            border: 1px solid #F1ECFC
            background: #FFF
            width: 160px
            height: 40px
            padding: 10px 10px
            font-family: $button-font
            font-size: 12px
            color: #000
            @include dFlex
            justify-content: space-between

            
        .header-icons
            width: 40px
            height: 40px
            border: 1px solid transparent 
            background-color: #fff
            margin-left: 20px
            border-radius: 5px
            .icons
                width: 20px 
                color: #F1ECFC

@media only screen and (max-width: 576px ) 
    .nav-bar
        padding-left: 10px
        padding-right: 10px
        .logo
            // width: 
            .nns-desktop
                display: none
            .nns-mobile
                display: block
            .brand-name
                display: none
            
        .buttons
            min-width: 50%
            margin-left: 5px
            .header-icons
                margin-left: 5px 
            .d-none
                display: none

                